---
layout: default
---
<div class="home">
    <div class="site-header-container {% if site.cover %}has-cover{% endif %}" {% if site.cover %}style="background-image: url({{ site.cover | prepend: site.baseurl }});background-position: left top;"{% endif %}>
      <div class="scrim {% if site.cover %}has-cover{% endif %}">
        <header class="site-header">
          <h1 class="title">{{ site.title }}</h1>
          {% if site.subtitle %}<p class="subtitle">{{ site.subtitle }}</p>{% endif %}
        </header>
      </div>
    </div>

    <div class="wrapper">
      <div class="home-text">
        <p>¡Bienvenido! Me llamo <strong>Joseda</strong> y soy <strong>desarrollador web</strong>. También me considero un apasionado de la tecnología, Linux y de los podcasts. En esta web te contaré cómo sacarle partido al sistema operativo del pingüino, tanto si eres desarrollador como si no.</p>
        <hr>
        <p>Si no sabes por donde empezar, te sugiero que eches un vistazo al <a href="{{ "/blog/archivo" | prepend: baseurl}}">listado completo de artículos</a> o a mis artículos más destacados:</p>
      </div>

      <ul class="post-list">
      {% for post in site.posts %}
          {% if post.featured %}
            <li>
              <h2>
                <a class="post-link" href="{{ post.url }}">{{ post.title }}</a>
              </h2>
              <section class="post-excerpt" itemprop="description">
                <p>{{ post.content | strip_html | truncatewords: 50 }}</p>
              </section>
            </li>

            <hr>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
</div>
