#overbox3 {
	position: fixed;
	z-index: 999999;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
	width: 100%;
}

#infobox3 {
	position: relative;
	top: 0;
	width: 100%;
	height: inherit;
	margin: auto;
	text-align: center;
	background-color: #eeeeee;
}

#infobox3 p {
	padding: 15px;
	text-align: center;
	font-size: 12px;
	line-height: 3em;
	margin-bottom: 0;
}

#infobox3 p a {
	margin-right: 5px;
	text-decoration: underline;
}
