---
layout: default
title_head: Blog de programación, Linux y productividad
meta_description: "Artículos sobre programación, Linux, herramientas y productividad"
---
<div class="page-content">

<div class="wrapper">

<header class="post-header">
  <h1 class="post-title">Blog</h1>
</header>

{% include page_divider.html %}

<ul class="post-list">
  {% for post in paginator.posts %}
  <li>
    <h2>
      <a class="post-link" href="{{ post.url }}">{{ post.title }}</a>
    </h2>
    <section class="post-excerpt" itemprop="description">
      <p>
        {% if post.excerpt %}
          {{ post.excerpt }}
        {% else %}
          {{ post.content | strip_html | truncatewords: 50 }}
        {% endif %}
      </p>
    </section>
    <section class="post-meta">
      <div class="post-date">{{ post.date | date_es }}</div>
    </section>
  </li>
  {% if forloop.last == false %}
  <hr>
  {% endif %}
  {% endfor %}
</ul>

<nav class="pagination" role="navigation">
	<p>
    {% if paginator.previous_page %}
		<a class="newer-posts" href="{{paginator.previous_page_path}}">
			<span class="fa-stack fa-lg">
				<i class="fa fa-square fa-stack-2x"></i>
				<i class="fa fa-angle-double-left fa-stack-1x fa-inverse"></i>
			</span>
		</a>
	{% else %}
        <span class="fa-stack fa-lg">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-angle-double-left fa-stack-1x fa-inverse"></i>
        </span>
	{% endif %}
		<span class="page-number">Página {{ paginator.page }} de {{ paginator.total_pages }}</span>
		{% if paginator.next_page %}
		<a class="newer-posts" href="{{paginator.next_page_path}}">
      <span class="fa-stack fa-lg">
        <i class="fa fa-square fa-stack-2x"></i>
        <i class="fa fa-angle-double-right fa-stack-1x fa-inverse"></i>
      </span>
    </a>
		{% else %}
		<span class="fa-stack fa-lg">
      <i class="fa fa-square fa-stack-2x"></i>
      <i class="fa fa-angle-double-right fa-stack-1x fa-inverse"></i>
    </span>
		{% endif %}
	</p>
</nav>

</div>
</div>
